<%- include('partials/header.ejs') %>

<main>
  <div class="container">
    <div class="card">
      <div class="card-content">
        <h2>About</h2>
        <p>It's a blog for storing all kinds of short notes related to the books you read in your life on the go. Through this site, you can easily refer to your notes anytime. This project is made using EJS, Express.js, and PostgreSQL database.</p>
      </div>
    </div>
  </div>
</main>

<%- include('partials/footer.ejs') %>
